<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" routerLink="">Currency API</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation" (click)='collapse()'>
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse" [ngbCollapse]="isCollapsed" >
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/exchange">Exchange</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/compare">Compare</a>
        </li>
  
      </ul>
    </div>
  </nav>
  